# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Output directories (NestJS & Next.js Build)
dist/
.next/
out/

# Environment variables (보안 필수)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env./*.local

# OS files
.DS_Store
Thumbs.db